[submodule "buildroot"]
	path = buildroot
	url = git@github.com:buildroot/buildroot.git

[submodule "scripts/json_resolve_scripts"]
	path = scripts/json_resolve_scripts
	url = git@github.com:kevin-825/json_resolve_scripts.git
